.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s linear 0.2s,
    opacity 0.2s linear;
  z-index: 3;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 16px;
}
.modal__container_type_form {
  width: 100%;
  max-width: 496px;
  padding: 28px 28px 36px;
}
.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 0.3;
  transition: opacity 0.2s ease;
  padding: 0;
  border: none;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 1;
}
.modal__title {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 24px;
}
.modal__image {
  display: block;
  width: 100%;
  max-width: 498px;
  max-height: 498px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.modal__fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  border: none;
  margin: 0;
}
.modal__fieldset_type_radio-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  border: none;
  margin: 24px 0 0;
}
.modal__input {
  all: unset;
  width: 100%;
  padding: 4px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 4px 0 0;
  cursor: text;
}
.modal__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: inherit;
}
.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.modal__input:focus {
  border-bottom: 1px solid rgba(0, 163, 255, 1);
}
.modal__legend {
  margin: 0 0 12px;
}
.modal__radio-btn {
  display: flex;
  align-items: center;
  width: fit-content;
}
.modal__radio-btn input {
  accent-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.modal__radio-btn label {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 0 0 0 8px;
}
.modal__radio-btn:hover input:not(:checked) + label {
  color: rgba(0, 0, 0, 1);
}
.modal__radio-btn input:checked {
  accent-color: rgba(0, 0, 0, 1);
  cursor: default;
}
.modal__radio-btn input:checked + label {
  color: rgba(0, 0, 0, 1);
  cursor: default;
}
.modal__footer {
  display: flex;
  flex-direction: column;
  padding: 20px 32px 32px;
  gap: 12px;
}   
.modal__row_type_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  width: fit-content;
  text-align: center;
}
.modal__weather {
  color: rgba(0, 0, 0, 0.6);
}
.modal__submit-btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin: 32px 0 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 1);
}
.modal__submit-btn:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}
.modal__submit-btn:disabled:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__container_type_confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 670px;
  padding: 60px 20px;
}
.modal__row_type_confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
}
.modal__delete-btn {
  background: none;
  width: fit-content;
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
  transition: color 0.2s ease;
}
.modal__delete-btn:hover {
  color: rgba(255, 0, 0, 1);
}
.modal__cancel-btn {
  background: none;
  width: fit-content;
  border: none;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  margin: 24px 0 0;
  cursor: pointer;
  transition: color 0.2s ease;
}
.modal__cancel-btn:hover {
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 630px) {
  .modal_type_add-clothes-form {
    opacity: 1;
    background-color: transparent;
    transition:
      visibility 0s 0.3s,
      background-color 0.3s ease-out;
  }
  .modal_type_add-clothes-form.modal_is-opened {
    background-color: rgba(0, 0, 0, 0.5);
    transition:
      visibility 0s,
      background-color 0.3s ease-out;
  }
  .modal__container_type_form {
    align-self: flex-end;
    max-width: 100%;
    margin: 0;
    border-radius: 16px 16px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  .modal_is-opened .modal__container_type_form {
    transform: translateY(0);
  }
  .modal__submit-btn {
    width: 100%;
    height: 44px;
  }
}
