.weather-card {
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 0 32px;
}
.weather-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
}
.weather-card__temp {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
}