.app {
  background-color: rgba(243, 243, 243, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
:where(.app) button,
:where(.app) input {
  font-weight: inherit;
}
.app__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1440px;
  width: 100%;
  min-height: 100%;
  padding: 32px 40px 24px;
  box-sizing: border-box;
  margin: 0 auto;
  flex: 1;
}

@media (max-width: 630px) {
  .app__content {
    padding: 16px;
  }
}
