.app {
    background-color: rgba(243, 243, 243, 1);
    max-width: 1360px;
    height: 100%;
    padding: 32px 40px 24px;
    margin: 0 auto;
    font-family: "Cabinet Grotesk", sans-serif;
    font-weight: 700;
}