.app {
  background-color: rgba(243, 243, 243, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.app__content {
  max-width: 1360px;
  height: 100%;
  padding: 32px 40px 24px;
  margin: 0 auto;
}
