.main {
  line-height: 1.25;
}
.main__text {
  margin: 0 0 20px;
}
.main__card-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .main__card-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 630px) {
  .main__card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
