.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 32px;
}
.header__logo {
  margin: 0 24px 0 0;
}
.header__date-location {
  margin: 0;
}
.header__date {
}
.header__add-clothes-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  font-weight: 700;
}
.header__username {
  margin: 0 0 0 20px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 0 0 12px;
}
