.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:
    visibility 0s linear 0.1s,
    opacity 0.1s linear;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 16px;
}
.modal__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 44px;
  height: 44px;
  background-image: url(../../assets/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  opacity: 1;
  padding: 0;
  border: none;
  transition: opacity 0.1s ease;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 0.4;
}
.modal__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.modal__footer {
  display: flex;
  flex-direction: column;
  padding: 20px 32px 32px;
  gap: 12px;
}
.modal__text {
  margin: 0;
}
