.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  flex-shrink: 0;
  height: 100%;
}
.sidebar__user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0;
}
.sidebar__username {
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
}

@media (max-width: 1024px) {
  .sidebar {
    min-width: fit-content;
    margin: 0 40px 0 0;
  }
  .sidebar__username {
    display: flex;
  }
}

@media (max-width: 630px) {
  .sidebar {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0;
  }
}
