.footer {
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  margin-top: auto;
}
.footer__signature {
  margin: 0;
}
.footer__signature-link {
  all: unset;
  cursor: pointer;
}
.footer__signature-link:hover {
  text-decoration: underline;
}
.footer__year {
  margin: 0;
}
