.clothes-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.clothes-section__row {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.25;
  height: 56px;
  margin: 0 0 16px;
}
.clothes-section__add-clothes-btn {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s ease;
}
.clothes-section__add-clothes-btn:hover {
  color: rgba(0, 0, 0, 1);
}
.clothes-section__card-list {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1024px) {
  .clothes-section__card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 630px) {
  .clothes-section__row {
    justify-content: space-between;
    height: fit-content;
  }
  .clothes-section__add-clothes-btn {
    margin: 0;
  }
}
